@charset "utf-8";
/* CSS Document */


h1, h2, h3, h4, h5, h6 {
color:#2d2d2d;}

h1 {
	font-size:46px;}
h3 {
	font-size:28px;}
a {color:#FF9715;}
a:hover{color:#454545;}




  .abouttitle {
  margin-top: 110px; 
  margin-bottom: 50px;
  font-family: 'Source Sans Pro';
  font-size: 3em;
  font-weight: 300;
  text-align: center;
  color: rgb(0, 0, 0);

}

/* ===========================
--- weoffer
============================ */
.service-box {
  background: transparent;
  border-bottom: 1px solid #f7f7f7;
  padding: 40px 20px;
}

.service-box:hover {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
  margin-top: -20px;
}

.service-icon {
  margin-bottom: 20px;
} 

.service-desc h5 {
  
  font-weight: 700;
  color: #000;
  font-size: 22px;
  margin-bottom: 10px;
}
.service-desc .divider-header {
  margin-bottom: 30px;
}



/* --- section bg var --- */

.bg-white {
  background: #fff;
}

.bg-gray {
  background: #f9f9f9;
}


.bg-dark {
  background: #404040;
}

.bg-blox {
  background: #412b45;
}



.home-section {
    padding-top: 150px;
    padding-bottom: 30px;
  display:block;
    position:relative;
    z-index:120;
}

.bloxv1temp {
    padding-top: 150px;
    padding-bottom: 110px;
  display:block;
    position:relative;
    z-index:120;

}

.inner-section {
    padding-top: 110px;
    padding-bottom: 110px;
}


.home-section.nopadd-bot {
    padding-bottom: 0;
}


.section-heading p {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.6em;
}

.service-desc p {
  font-size: 16px;
}

.btn-skin {
  color: #fff;
  background-color: #412b45;
  border-color: #412b45;
}

.btnlearn a:hover {
  color: #fff;
  background-color: #2d2d2d;
  border-color: #2d2d2d;

}

/*Contact us Index */

.topmargin {
  margin-top: 200px;
}

.contact-box {
  background: transparent;
  padding: 40px 20px;
}

.contact-desc p {
  font-size: 16px;
  color:white;
}

.contact-desc a {
  color:white;
}

.contact-desc a:hover {
  color:#412b45;
}

.btn-white {
margin-top: 10px;
color: #aaa;
background-color: #fff;
border-color: #ccc;
width: 120px;
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}

.btn-white:hover {
margin-top: 10px;
color: white;
background-color: #412b45;
border-color: #412b45;
}

.btn-whiteonw {
margin-top: 10px;
color: #412b45;
background-color: transparent;
width: 120px;
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid;
border-radius: 4px;
border-color: #ccc;
}

.btn-whiteonw:hover {
margin-top: 10px;
color: #fff;
background-color: #412b45;
border-color: #412b45;
}

.sidemargins {
  margin-right: 4px;
  margin-left: 4px;
}

.text-r {
  text-align: right;
 
  }

.text-c {
  text-align: center;
 
  }






/*Blox v1*/
.bloxv1 {
  display: block;
  width: 50%;
  min-width: 200px;
  max-width: 800px;
  height: auto;
  margin: 134px auto 0;
  overflow: hidden;
}



.producttext {

  margin-top: 40px;

}

@media (max-width: 768px) {

.producttext {

  margin-top: 12px;

  }

  .centeredleft {
  margin: 0;
  text-align: center;
  
}

.centeredright {
  margin: 0;
}

.text-r {
  text-align: center;
 
  }

  .topmargin {
  margin-top: 100px;
}

.service-box:hover {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin-top: 0px;
}

.bounceIn {

}

}




.producttext h5 {
  
  font-weight: 700;
  color: #000;
  font-size: 22px;
  margin-bottom: 10px;
  text-align: left;
}

.producttext p {
  text-align: left;
}


.spec li {
  text-align: left;
}

.center{
  text-align: center;
  max-width: 700px;
  min-width: 200px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  font-family: 'Source Sans Pro';
  font-size: 1.6em;
  font-weight: 400;

}

.centeredleft {

  margin: 0;
  margin-right: auto;
  margin-left: auto;
  min-width: 100px;
  max-width: 460px;


  
}

.centeredright {

  margin: 0;
  margin-right: auto;
  margin-left: auto;
  min-width: 100px;
  max-width: 460px;
 
}


.imgmedium {
  max-width:300px;
  min-width:160px;

}












/* footerbox
==================================================*/


.footerbox2 {
background-color: #000;
height: 120px;
position: relative;
float: left;
z-index: 12;
width: 100%;
height: 300px;
margin-top: 200px;
}

.footerlogo2 {
display: block;
position: absolute;
top: 30px;
left: 0;
right: 0;
width: 105px;
height: auto;
margin: 0 auto;
overflow: hidden;
}	

.allrights2 {
position: absolute;
top: 90px;
left: 0;
right: 0;
z-index: 1;
margin: 0 auto;
font: 400 1em/1.38 'Open Sans';
text-align: center;
color: rgb(140, 140, 140);
}

/* #Buttons
==================================================*/

/* #Sun Flower Button
==================================================*/
.sun-flower-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f1c40f;
  border: 0;
  border-bottom: 2px solid #e2b607;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #e2b607;
  box-shadow: inset 0 -2px #e2b607;
}
.sun-flower-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* #Orange Flat Button
==================================================*/
.orange-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f39c12;
  border: 0;
  border-bottom: 2px solid #e8930c;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #e8930c;
  box-shadow: inset 0 -2px #e8930c;
}
.orange-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* #Carrot Flat Button
==================================================*/
.carrot-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #e67e22;
  border: 0;
  border-bottom: 2px solid #da751c;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #da751c;
  box-shadow: inset 0 -2px #da751c;
}
.carrot-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* #Pumpkin Flat Button
==================================================*/
.pumpkin-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #d35400;
  border: 0;
  border-bottom: 2px solid #c54e00;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #c54e00;
  box-shadow: inset 0 -2px #c54e00;
}
.pumpkin-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* #Alizarin Flat Button
==================================================*/
.alizarin-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #e74c3c;
  border: 0;
  border-bottom: 2px solid #db4334;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #db4334;
  box-shadow: inset 0 -2px #db4334;
}
.alizarin-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* #Pomegranate Flat Button
==================================================*/
.pomegranate-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #c0392b;
  border: 0;
  border-bottom: 2px solid #b53224;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #b53224;
  box-shadow: inset 0 -2px #b53224;
}
.pomegranate-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* #Turquoise Flat Button
==================================================*/
.turquoise-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #1abc9c;
  border: 0;
  border-bottom: 2px solid #12ab8d;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #12ab8d;
  box-shadow: inset 0 -2px #12ab8d;
}
.turquoise-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* #Green Sea Flat Button
==================================================*/
.green-sea-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #16a085;
  border: 0;
  border-bottom: 2px solid #14947b;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #14947b;
  box-shadow: inset 0 -2px #14947b;
}
.green-sea-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* #Emerald Flat Button
==================================================*/
.emerald-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2ecc71;
  border: 0;
  border-bottom: 2px solid #28be68;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #28be68;
  box-shadow: inset 0 -2px #28be68;
}
.emerald-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* #Nephritis Flat Button
==================================================*/
.nephritis-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #27ae60;
  border: 0;
  border-bottom: 2px solid #219d55;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #219d55;
  box-shadow: inset 0 -2px #219d55;
}
.nephritis-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* #Peter River Flat Button
==================================================*/
.peter-river-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3498db;
  border: 0;
  border-bottom: 2px solid #2a8bcc;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2a8bcc;
  box-shadow: inset 0 -2px #2a8bcc;
}
.peter-river-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* #Belize Hole Sea Flat Button
==================================================*/
.belize-hole-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2980b9;
  border: 0;
  border-bottom: 2px solid #2475ab;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2475ab;
  box-shadow: inset 0 -2px #2475ab;
}
.belize-hole-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* #Amethyst Flat Button
==================================================*/
.amethyst-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #9b59b6;
  border: 0;
  border-bottom: 2px solid #8d4ca7;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #8d4ca7;
  box-shadow: inset 0 -2px #8d4ca7;
}
.amethyst-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* #Wisteria Flat Button
==================================================*/
.wisteria-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #8e44ad;
  border: 0;
  border-bottom: 2px solid #80399d;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #80399d;
  box-shadow: inset 0 -2px #80399d;
}
.wisteria-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* #Wet Asphalt Flat Button
==================================================*/
.wet-asphalt-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #34495e;
  border: 0;
  border-bottom: 2px solid #263849;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #263849;
  box-shadow: inset 0 -2px #263849;
}
.wet-asphalt-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* #Wet Asphalt Flat Button
==================================================*/
.wet-asphalt-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #34495e;
  border: 0;
  border-bottom: 2px solid #263849;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #263849;
  box-shadow: inset 0 -2px #263849;
}
.wet-asphalt-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* #Midnight Blue Flat Button
==================================================*/
.midnight-blue-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #2c3e50;
  border: 0;
  border-bottom: 2px solid #22303f;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #22303f;
  box-shadow: inset 0 -2px #22303f;
}
.midnight-blue-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


/* #Blox Flat Button
==================================================*/
.blox-flat-button {
  position: relative;
  vertical-align: top;
  max-width: 400px;
  min-width: 220px;
  height: 60px;
  padding: 0;
  font-size: 18px;
  color:#fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #412b45;
  border: 0;
  border-bottom: 2px solid #2f1f32;
  cursor: pointer;
  border-bottom: 2px solid #2f1f32;
  -webkit-box-shadow: inset 0 -2px #2f1f32;
  border-bottom: 2px solid #2f1f32;
  box-shadow: inset 0 -2px #2f1f32;
}


.blox-flat-button:hover {
  color:#fff;
  background: #2f1f32;
  border-bottom: 2px solid #2a1c2d;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2a1c2d;
  box-shadow: inset 0 -2px #2a1c2d2;
}

.blox-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


/* #Clouds Flat Button
==================================================*/
.clouds-flat-button {
  position: relative;
  vertical-align: top;
  max-width: 400px;
  min-width: 260px;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color:#454545;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #ecf0f1;
  border: 0;
  border-bottom: 2px solid #dadedf;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #dadedf;
  box-shadow: inset 0 -2px #dadedf;
}


.clouds-flat-button:hover {
  color:#fff;
  background: #412b45;
  border-bottom: 2px solid #2f1f32;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2f1f32;
  box-shadow: inset 0 -2px #2f1f32;
}

.clouds-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}



/* #Silver Flat Button
==================================================*/
.silver-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color:white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #bdc3c7;
  border: 0;
  border-bottom: 2px solid #acb2b7;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #acb2b7;
  box-shadow: inset 0 -2px #acb2b7;
}
.silver-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* #Concrete Flat Button
==================================================*/
.concrete-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color:white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #859596;
  border: 0;
  border-bottom: 2px solid #95a5a6;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #95a5a6;
  box-shadow: inset 0 -2px #95a5a6;
}
.concrete-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* #Asbestos Flat Button
==================================================*/
.asbestos-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color:white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #7f8c8d;
  border: 0;
  border-bottom: 2px solid #6d7b7c;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #6d7b7c;
  box-shadow: inset 0 -2px #6d7b7c;
}
.asbestos-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* #Asbestos Flat Button
==================================================*/
.asbestos-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color:white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #7f8c8d;
  border: 0;
  border-bottom: 2px solid #6d7b7c;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #6d7b7c;
  box-shadow: inset 0 -2px #6d7b7c;
}
.asbestos-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* #Graphite Flat Button
==================================================*/
.graphite-flat-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color:white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #454545;
  border: 0;
  border-bottom: 2px solid #2f2e2e;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #2f2e2e;
  box-shadow: inset 0 -2px #2f2e2e;
}
.graphite-flat-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

